<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title>회원 정보 수정</title>
  <link rel="stylesheet" href="/css/profile.css">
  <link rel="stylesheet" href="/css/layout/common.css">
  <!-- 페이지별 추가 CSS -->
</head>
<body>
<div th:replace="fragment/header :: headerFragment"></div>
<div class="container">
  <div class="nav-bar"></div>
  <section class="pm-section">
    <!-- 공통 상단 영역 -->

    <!--/*@thymesVar id="userInfo" type=""*/-->

    <div th:replace="fragment/profile-common :: mypage-top"></div>

    <div class="mypage-bottom-content">
      <!-- 공통 사이드바 -->
      <div th:replace="fragment/profile-common :: mypage-sidebar"></div>

      <div th:replace="fragment/profile-common :: mypage-mainInfo"></div>

    </div>
  </section>
</div>
<div th:replace="fragment/footer :: footerFragment"></div>
<!-- 공통 모달 -->
<div th:replace="fragment/profile-common :: modal"></div>
<div th:replace="fragment/profile-common :: pet-modal"></div>

<!-- 공통 스크립트 -->
<script type="module" src="/js/user/profile.js"></script>
<!-- 페이지별 추가 스크립트 -->
<script src="/js/user/address.js"></script>
</body>
</html>