<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:fragment="basicInfo">
        <div>
          <div class="right_info">
            <h2>진후님의 반려동물</h2>
            <a class="new_pet">펫 등록</a>
            <div class="animal_list">
              <div>
                <a href="#" class="profile_add">프로필 추가</a>
              </div>
            </div>
            <div class="like_area">
              <h2 class="border">좋아요한 제품</h2>
              <a href="#" class="more">더보기</a>
              <ul class="product_list"></ul>
            </div>
          </div>
        </div>
</div>

</body>
</html>