<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>회원 정보 수정</title>
  <link rel="stylesheet" href="/css/profile.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<div th:replace="headerFragment/header :: headerFragment"></div>
<div class="container">
  <div class="nav-bar"></div>
  <section class="pm-section">
        <div class="mypage-top" th:fragment="mypage-top">
              <div class="user">
                <div class="img">
                  <div class="profile-img"></div>
                </div>
                <strong class="nickname" ></strong>
                <button type="button" class="profile_btn">설정</button>
              </div>
              <div class="mypage_top_content">
                <div class="inner-wrap">
                  <div class="inner">
                    <span>쿠폰</span>
                    <strong>1개</strong>
                  </div>
                  <div class="inner">
                    <span>장바구니 물품</span>
                    <strong th:text="${session.user.cartQuantity}+'개'"></strong>
                  </div>
                  <div class="inner">
                    <span>멤버십</span>
                    <strong>1억포인트</strong>
                  </div>
                </div>

                <div class="inner-rig">
                  <p>
                    쿠폰
                    <strong>0개</strong>
                  </p>
                  <p>
                    적립금
                    <strong>0P</strong>
                  </p>
                </div>
              </div>
          </div>

    <div class="mypage-bottom-content">

              <div class="left" th:fragment="mypage-sidebar">
                <ul class="my-menu">
                  <li>
                    <span>커뮤니티</span>
                    <a href="#">나의 활동</a>
                  </li>
                  <li>
                    <span>나의 쇼핑 정보</span>
                    <a href="#">주문/배송</a>
                    <a href="#">교환/반품</a>
                    <a href="#">찜한제품</a>
                    <a href="#">제품리뷰</a>
                  </li>
                  <li>
                    <span>나의 반려 동물</span>
                  </li>
                  <li>
                    <span>쿠폰/적립금</span>
                    <a href="#">쿠폰</a>
                    <a href="#">적립금</a>
                  </li>
                  <li>
                    <span>나의 정보</span>
                    <a href="/users/profile/update">회원 정보 관리</a>
                  </li>
                  <li>
                    <span>고객센터</span>
                    <a href="#">고객센터</a>
                    <a href="#">문의내역</a>
                  </li>
                </ul>
              </div>


              <div class="right_info" th:fragment="mypage-mainInfo">
                <h2>진후님의 반려동물</h2>
                <a class="new_pet">펫 등록</a>
                <div class="animal_list">
                  <div>
                    <a href="#" class="profile_add">프로필 추가</a>
                  </div>
                </div>
                <div class="like_area">
                  <h2 class="border">좋아요한 제품</h2>
                  <a href="#" class="more">더보기</a>
                  <ul class="product_list"></ul>
                </div>
              </div>
              <div class="right_info" th:fragment="mypage-userInfo">
                  <div class="sign-wrap">
                      <section class="user_details_section">
                          <h2 class="border">회원 정보</h2>
                          <div class="field">
                              <h5>성명</h5>
                              <div class="result" th:text="${session.user.nickname}">김진후</div>
                          </div>
                          <div class="field">
                              <h5>이메일</h5>
                              <div class="result">wlsgnwkd22@naver.com</div>
                          </div>
                          <div class="field">
                              <h5>가입 날짜</h5>
                              <div class="result">2025.02.25</div>
                          </div>
                          <div class="field">
                              <h5>회원 분류</h5>
                              <div class="result">SOCIAL</div>
                          </div>
                      </section>
                      <section class="user_agreement_section">
                          <div class="user_agreement">
                              <h2 class="border">마케팅 수신 동의 설정</h2>
                              <ul class="product_list"></ul>
                          </div>
                      </section>
                  </div>
              </div>
        </div>
  </section>
</div>
            <div id="nicknameModal" class="modal" th:fragment="modal">
              <div class="modal-content">
                <span class="close">&times;</span>
                <h2>닉네임 변경</h2>
                <input type="text" id="newNickname" placeholder="새 닉네임 입력">
                <button id="saveNickname">저장</button>
              </div>
            </div>

<script src="/js/address.js"></script>
<script src="/js/profile.js"></script>
</body>
</html>