h1 {
    text-align: center;
    color: #2e6da4;
    margin-top: 20px;
    font-size: 36px;
    font-weight: 700;
}



h2 {
    color: #007bff;
    margin-top: 30px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

p {
    text-align: center;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #0056b3;
    font-weight: bold;
}

a:hover {
    color: #003366;
}

.order-container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #2196F3;;
    color: white;
    font-size: 18px;
}

td {
    background-color: #f9f9f9;
    font-size: 16px;
}

tr:hover {
    background-color: #e6f7ff;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
}

.button:hover {
    background-color: #0056b3;
}

td input {
    width: 100%;
    border: none;
    background-color: #f1f1f1;
    padding: 8px;
    font-size: 14px;
    text-align: left;
    box-sizing: border-box;
}
