<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>주문 상세 정보</title>
	<link rel="stylesheet" href="/css/order/orderOneReseult.css">
</head>
<body>
<h1>관리자용 주문번호별 상세정보</h1>

<p>
	<a href="/order">메인페이지로</a>
</p>

<!-- Purchase 리스트 출력 -->
<h2>주문 목록</h2>
<table>
	<thead>
	<tr>
		<th>주문번호</th>
		<th>주문자 ID</th>
		<th>총 가격</th>
		<th>결제 시간</th>
		<th>결제 상태</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="purchase : ${purchase}">
		<td th:text="${purchase.purchaseId}"></td>
		<td th:text="${purchase.userId}"></td>
		<td th:text="${purchase.totalPrice}"></td>
		<td th:utext="${purchase.cancelAt != null ? '주문: ' + #temporals.format(purchase.createAt, 'yyyy-M-d')  + '<br>' + #temporals.format(purchase.cancelAt, 'a h시 mm분') + '<hr>' + '취소: ' + #temporals.format(purchase.cancelAt, 'yyyy-M-d') + '<br>' + #temporals.format(purchase.cancelAt, 'a h시 mm분') : #temporals.format(purchase.createAt,'yyyy-M-d') + '<br>' + #temporals.format(purchase.createAt, 'a h시 mm분')}"></td>
		<td>
			<span th:text="${purchase.cancelAt != null ? '취소' : '주문'}"></span>
		</td>
	</tr>
	</tbody>
</table>

<!-- 배송 정보 -->
<h2>배송 정보</h2>
<table>
	<thead>
	<tr>
		<th>수령인 이름</th>
		<th>수령인 전화번호</th>
		<th>배송 주소</th>
		<th>배송 요청 사항</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="delivery : ${delivery}">
		<td th:text="${delivery.receiverName}"></td>
		<td th:text="${delivery.receiverPhone}"></td>
		<td th:text="${delivery.receiverAddr}"></td>
		<td th:text="${delivery.deliveryMessage}"></td>
	</tr>
	</tbody>
</table>

<!-- 구매 상품 -->
<h2>구매 상품 및 발송</h2>
<table>
	<thead>
	<tr>
		<th>상품명</th>
		<th>옵션</th>
		<th>수량</th>
		<th>가격</th>
		<th>배송 현황</th>
		<th>배송정보 변경</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="item : ${item}">
		<td th:text="${item.productName}"></td>
		<td th:text="${item.option == null ? '없음': item.option}"></td>
		<td th:text="${item.quantity}"></td>
		<td th:text="${item.totalPrice}"></td>
		<td id="deliveryStatus_${item.purchaseProductId}" th:text="${item.deliveryStatus}"></td>
		<td>
		<form action="/order/rest/deliveryChange" method="GET">
			<input type="hidden" name="purchaseProductId" id="purchaseProductId" th:value="${item.purchaseProductId}"/>
			<select id="deliveryState" name="deliveryState">
				<option value="onDelivery">배송중</option>
				<option value="stopDelivery">배송취소</option>
				<option value="finDelivery">배송완료</option>
			</select>
			<button type="submit" onclick="delivery_status()">변경</button>
		</form>
		</td>
	</tr>
	</tbody>
</table>
<script>
	function delivery_status() {
        const deliveryState = document.getElementById("deliveryState").value;
        const purchaseProductId = document.getElementById("purchaseProductId").value;  // 예시로 주문 상품 ID

        // JSON.stringify로 객체 형태로 전달
        fetch('/order/rest/deliveryState', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                deliveryState: deliveryState,  // 배송 상태
                purchaseProductId: purchaseProductId  // 주문 상품 ID
            }) // 객체로 전달
        })
        .then(response => response.json())
        .then(data => {
            console.log('Order Success:', data);

            // 서버에서 반환된 메시지를 화면에 즉시 업데이트

            // 상태 변경이 반영된 상태를 페이지에 표시
            const deliveryStatusElement = document.getElementById("deliveryStatus_" + purchaseProductId);
            deliveryStatusElement.innerText = updateState; // 상태 갱신
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>
</body>
</html>