<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script th:if="${message}" th:inline="javascript">
        alert([[${message}]]);
    </script>
<body>
<a href="/order/index2">TEST용(조건 : userId모두 일치시키기)</a>
<a href="/order/index4">구매페이지</a>
	<h1>주문</h1>
	<form action="/order/order" method="get">
		<div>
			수령인 이름<input type="text" name="receiverName" placeholder="수령인 이름">
		</div>
		<div>
			전화번호<input type="tel" name="receiverPhone" placeholder="수령인 전화번호">
		</div>
		<div>
			주소<input type="text" name="receiverAddr" id="receiver_addr" placeholder="주소를 입력하세요" autocomplete="street-address" readonly>
		</div>
	<button onclick="execDaumPostcode()">주소 검색</button>
		<div>
			상세 주소<input type="text" name="receiver_addr_detail" placeholder="상세 주소를 입력하세요">
	</div>
		<div>
			배송 메시지<input type="text" name="deliveryMessage" placeholder="배송 메시지">
	</div>
		<div>
			장바구니 번호<input type="text" name="cartId" placeholder="카트 번호">
		</div>
		<div>
			사용자 id<input type="text" name="userId" placeholder="사용자 id">
		</div>
		<div>
			상품id<input type="text" name="productId" placeholder="상품id">
		</div>
		<div>
			상품명<input type="text" name="productName" placeholder="상품명">
		</div>
		<div>
			수량<input type="text" name="quantity" placeholder="수량">
		</div>
		<div>
			옵션<input type="text" name="option" placeholder="옵션">
		</div>
		<div>
			상품id<input type="text" name="productId" placeholder="상품id">
		</div>
		<div>
			상품명<input type="text" name="productName" placeholder="상품명">
		</div>
		<div>
			수량<input type="text" name="quantity" placeholder="수량">
		</div>
		<div>
			옵션<input type="text" name="option" placeholder="옵션">
		</div>
		<div>
			총 가격<input type="text" name="totalPrice" placeholder="총 가격">
		</div>
		<button>주문하기</button>
	</form>

<form action="/order/admin/orderList" method="get">
	<label for="searchAll">관리자용 전체 주문 관리:</label>
	<select id="searchAll" name="purchaseState">
		<option value="all">전체</option>
		<option value="cancel">취소</option>
		<option value="purchase">주문</option>
	</select>
		<button type="submit">조회</button>
</form>
	    <form action="order/orders/userId" method="get">
        <label for="searchOption">검색 종류:</label>
        <select id="searchOption" name="purchaseState">
            <option value="all">전체</option>
            <option value="cancel">취소</option>
            <option value="purchase">주문</option>
        </select>
        <input type="text" name="userId" placeholder="아이디를 입력해주세요" />
        <button type="submit">검색</button>
 </form>

<form action="order/one" method="get">
	ID<input type="text" name="userId">
	상품ID<input type="text" name="purchaseProductId">
	<button>전송</button>
</form>
<a href="/order/purchase">주문넘겨주는 페이지</a>
	<a href="/order/review">리뷰작성</a>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function execDaumPostcode() {
    	event.preventDefault();
        new daum.Postcode({
            oncomplete: function(data) {
                document.getElementById("receiver_addr").value = data.address;
            }
        }).open();
    }
</script>
</body>
</html>