<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>주문 상세 정보</title>
	<link rel="stylesheet" href="/css/order/adminOrderResult.css">
</head>
<body>


<h1>소비자용 주문정보</h1>

<p>
	<a href="/order" class="button">메인페이지로</a> <a href="/order/admin/orderList" class="button">주문목록</a>
</p>

<div class="container">
	<h2>주문 상세정보</h2>

	<table>
		<thead>
		<tr>
			<th>주문번호</th>
			<th>주문 정보</th>
			<th>배송 정보</th>
			<th>구매 상품</th>
		</tr>
		</thead>
		<tbody>
		<td class="info-cell">
			<div class="info-section">
				<strong><span th:text="${result.purchaseProduct[0].purchaseProductId}"></span></strong>
			</div>
		</td>
			<!-- 주문 정보 -->
			<td class="info-cell">
				<div class="info-section">
					<strong>가격:</strong> <span th:text="${result.purchaseProduct[0].price}"></span>
				</div>
				<div class="info-section">
					<strong>주문/취소 시간:</strong> <br>
					<span th:utext="${result.purchaseProduct[0].cancelAt != null ? '취소 시각: ' + #temporals.format(result.purchaseProduct[0].cancelAt, 'yyyy-M-d') + '<br>' + #temporals.format(result.purchaseProduct[0].cancelAt, 'a h시 mm분') : '주문 시각: ' + #temporals.format(result.purchaseProduct[0].cancelAt, 'yyyy-M-d') + '<br>' + #temporals.format(result.purchaseProduct[0].cancelAt, 'a h시 mm분')}"></span>
				</div>
				<div class="info-section">
					<strong>주문/취소 현황:</strong> <span th:text="${result.purchaseProduct[0].cancelAt != null ? '취소' : '주문'}"></span>
				</div>
			</td>
			<!-- 배송 정보 -->
			<td class="info-cell">
				<div class="info-section">
					<strong>수령인:</strong> <span th:text="${result.purchaseDelivery[0].receiverName}"></span>
				</div>
				<div class="info-section">
					<strong>전화번호:</strong> <span th:text="${result.purchaseDelivery[0].receiverPhone}"></span>
				</div>
				<div class="info-section">
					<strong>주소:</strong> <span th:text="${result.purchaseDelivery[0].receiverAddr}"></span>
				</div>
				<div class="info-section">
					<strong>요청사항:</strong> <span th:text="${result.purchaseDelivery[0].deliveryMessage}"></span>
				</div>
				<div class="info-section">
					<strong>배송상태:</strong> <span th:text="${result.purchaseProduct[0].deliveryStatus}"></span>
				</div>
			</td>
			<!-- 구매 상품 -->
			<td class="info-cell">
				<div>
					<div><strong>상품id:</strong> <span th:text="${result.purchaseProduct[0].productId}"></span></div>
					<div><strong>상품명:</strong> <span th:text="${result.purchaseProduct[0].productName}"></span></div>
					<div><strong>옵션:</strong> <span th:text="${result.purchaseProduct[0].option == null ? '-': result.purchaseProduct[0].option}"></span></div>
					<div><strong>수량:</strong> <span th:text="${result.purchaseProduct[0].quantity}"></span></div>
					<div><strong>가격:</strong> <span th:text="${result.purchaseProduct[0].price}"></span></div>
				</div>
			</td>
		</tbody>
	</table>
</div>
</body>
</html>