<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>주문/취소 목록</title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    아이디<h1 th:text="${userId}"></h1>
    <table border="1">
        <tr>
            <th>주문번호</th>
            <th>수령인 이름</th>
            <th>전화번호</th>
            <th>주소</th>
            <th>장바구니 번호</th>
            <th>사용자 ID</th>
            <th>총 가격</th>
            <th>주문 일자</th>
            <th>취소 일자</th>
            <th>취소</th>            
        </tr>
    <tr th:each="purchase : ${purchases}"> 
            <td th:text="${purchase.orderId}"></td>
            <td th:text="${purchase.reciverName}"></td>
            <td th:text="${purchase.reciverPhone}"></td>
            <td th:text="${purchase.reciverAddr}"></td>
            <td th:text="${purchase.cartId}"></td>
            <td th:text="${purchase.userId}"></td>
            <td th:text="${purchase.totalPrice}"></td>
            <td th:text="${purchase.createAt}"></td>
            <td th:text="${purchase.cancelAt}"></td>
              <td>
        <!-- 취소 일자가 없을 경우에만 취소 버튼을 보여줌 -->
        <form th:action="@{/cancel}" method="post" th:if="${purchase.cancelAt == null}">
            <input type="hidden" th:name="orderId" th:value="${purchase.orderId}" />
            <button type="submit">취소</button>
        </form>
        <!-- 취소 일자가 있으면 '취소 완료'로 변경 -->
        <span th:unless="${purchase.cancelAt == null}">취소 완료</span>
    </td>
        </tr>
    </table>
</body>
</html>
