<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>주문 상세 정보</title>
</head>
<body>
<h1>주문 상세정보</h1>

<p>
	<a href="/order">메인페이지로</a>
</p>

<!-- Purchase 리스트 출력 -->
<h2>주문 목록</h2>
<table border="1" cellpadding="10" width="300">
	<thead>
	<tr>
		<th>주문번호</th>
		<th>주문자 ID</th>
		<th>총 가격</th>
		<th>주문 시간</th>
		<th>주문 취소</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="purchase : ${purchase}">
		<td th:text="${purchase.purchaseId}"></td>
		<td th:text="${purchase.userId}"></td>
		<td th:text="${purchase.totalPrice}"></td>
		<td th:text="${purchase.cancelAt != null ? '취소 시각: ' + #temporals.format(purchase.cancelAt, 'yy년 M월 d일 a h시 mm분') : '주문 시각: ' + #temporals.format(purchase.createAt, 'yy년 M월 d일 a h시 mm분')}"></td>
		<td>
    <span th:if="${purchase.cancelAt == null}">
        <form th:action="@{/order/orders/{purchaseId}(purchaseId=${purchase.purchaseId})}" method="post">
            <button type="submit">주문 취소</button>
        </form>
    </span>
			<span th:unless="${purchase.cancelAt == null}">
        취소 완료
    </span>
		</td>
	</tr>
	</tbody>
</table>

<!-- Delivery 리스트 출력 -->
<h2>배송 정보</h2>

<table border="1" cellpadding="10" width="300">
	<thead>
	<tr>
		<th>수령인 이름</th>
		<th>수령인 전화번호</th>
		<th>배송 상태</th>
		<th>배송 주소</th>
		<th>배송 요청 사항</th>
		<th>배송 정보 수정</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="delivery : ${delivery}">
		<form th:action="@{/order/orders/receiver}" method="get">
			<td><input type="text" name="receiverName" th:value="${delivery.receiverName}" readonly></td>
			<td><input type="text" name="receiverPhone" th:value="${delivery.receiverPhone}" readonly></td>
			<td th:text="${delivery.deliveryStatus}"></td>
			<td><input type="text" name="receiverAddr" th:value="${delivery.receiverAddr}" readonly></td>
			<td><input type="text" name="deliveryMessage" th:value="${delivery.deliveryMessage}" readonly></td>
			<td>
				<input type="hidden" name="purchaseId" th:value="${delivery.purchase.purchaseId}">
				<button type="submit">정보 수정</button>
			</td>
		</form>
	</tr>
	</tbody>
</table>

<!-- Item 리스트 출력 -->
<h2>구매 상품</h2>
<table border="1" cellpadding="10" width="300">
	<thead>
	<tr>
		<th>상품명</th>
		<th>수량</th>
		<th>가격</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="item : ${item}">
		<td th:text="${item.productName}"></td>
		<td th:text="${item.quantity}"></td>
		<td th:text="${item.totalPrice}"></td>
	</tr>
	</tbody>
</table>
</body>
</html>