<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/layout/common.css">
</head>
<body>
<div th:replace="fragment/header :: headerFragment"></div>
<div th:replace="fragment/nav :: navFragment" class="nav-var"></div>
<div class="container">
  <div class="pm-section">

  </div>
</div>


<div th:replace="fragment/footer :: footerFragment"></div>


<script type="module" src="/js/nav.js"></script>
</body>
</html>