<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시글 상세</title>
<link rel="stylesheet" href="/css/layout/common.css">
<link rel="stylesheet" href="/css/board/read.css">
</head>
<body>

	<div th:replace="fragment/header :: headerFragment"></div>
	<div th:replace="fragment/nav :: navFragment"></div>

	<div class="container">
		<div class="pm-section">
			<div th:if="${board == null}" class="noPage">
				<p>게시글을 찾을 수 없습니다.</p>
			</div>
			<div th:if="${board != null}">
				<div class="user-section">
					<span th:text="${board.categoryId}" class="boardCategoryId"></span>
					<h2 th:text="${board.title}" class="boardTitle"></h2>
					<div class="userInfo">
						<div class="userInfo-profile">
							<img th:src="${board.user.userImg.url}" class="userImage">
							<div class="userInfoText">
								<span th:text="${board.nickname}" class="boardNickname"></span>
								<span class="boardViewCount">조회수 [[${board.viewCount}]]</span>
							</div>
						</div>
						<div class="createdAt">
							<span th:text="${#temporals.format(board.createdAt, 'yyyy-MM-dd HH:mm:ss')}" class="boardCreatedAt"></span>
							<span><a>공유</a></span>
						</div>
					</div>


				</div>
				<div class="content-container">
					<div class="contentContain">
						<div th:utext="${board.content}" class="boardContent"></div>
					</div>

					<span th:each="hashtag : ${board.hashtag}">
						<a th:href="@{/board/board(hashtag=${hashtag})}" class="boardHashtag" th:text="${hashtag}"></a>
					</span>

					<div class="toggle-content">


						<div class="likeContain">
							<a href="#" th:if="${#lists.contains(board.likeContain, user.id)}" id="likeCount"
							   class="likeButton" th:data-board-id="${board.boardId}" th:data-id="${user.id}">❤️ [[${board.likeCount}]]</a>
							<a href="#" th:unless="${#lists.contains(board.likeContain, user.id)}" id="likeCount"
							   class="likeButton" th:data-board-id="${board.boardId}" th:data-id="${user.id}">🤍 [[${board.likeCount}]]</a>
							<a href="#" id="commentButton" class="commentButton">🗨️</a>
							<span th:text="${board.commentCount}" class="boardCommentCount"></span>
						</div>
						<div class="buttons">
							<a th:href="@{/board/update(boardId=${board.boardId})}" class="update">수정</a>
							<a th:href="@{/board/delete(boardId=${board.boardId})}" class="deleteBtn" th:data-board-id="${board.boardId}">삭제</a>
						</div>
					</div>

				</div>


				<h3 class="comments">댓글</h3>
				
				<div class="commentWrite">
					<div class="profileImg-sec">
						<img th:src="${user.userImg.url}" class="commentWriteUserImage">
					</div>
					<form action="/board/commentCreate">
						<input type="hidden" name="boardId" th:value="${board.boardId}">
						<textarea id="content" name="content" rows="4" class="commentWriteContent" placeholder="댓글을 입력해주세요" required></textarea>
						<button type="submit" class="commentWriteButton">댓글 작성</button>
					</form>
				</div>

				<div class="commentList" th:each="comment : ${comment}">
					<div class="profileImg-sec">
						<img th:src="${comment.user.userImg.url}" class="commentUserImage">
					</div>
					<div class="comment">
						<div class="commentNicknameCreatedAt">
							<p class="commentNickname" th:text="${comment.nickname}"></p>
							<p class="commentCreatedAt" th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></p>
						</div>
						<p class="commentContent" th:text="${comment.content}"></p>
						<div class="commentButtons">
							<div>
								<a href="#" th:if="${#lists.contains(comment.likeContain, user.id)}" class="commentLikeCount"
								   th:data-comment-id="${comment.commentId}" th:data-id="${user.id}">❤️ [[${comment.likeCount}]]</a>
								<a href="#" th:unless="${#lists.contains(comment.likeContain, user.id)}" class="commentLikeCount"
								   th:data-comment-id="${comment.commentId}" th:data-id="${user.id}">🤍 [[${comment.likeCount}]]</a>
							</div>
							<div>
								<a th:href="@{/board/commentUpdate(commentId=${comment.commentId})}" class="commentUpdate">수정</a>
								<a th:href="@{/board/commentDelete(commentId=${comment.commentId}, boardId=${board.boardId})}" class="commentDelete">삭제</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragment/footer :: footerFragment"></div>

</body>
<script type="module" src="/js/read.js"></script>
</html>