<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<title>게시글 상세</title>
	<link rel="stylesheet" href="/css/layout/common.css">
	<link rel="stylesheet" href="/css/board/read.css">
</head>
<body>

<div th:replace="fragment/header :: headerFragment"></div>
<div th:replace="fragment/nav :: navFragment"></div>

<div class="container">
	<div class="pm-section">
		<div th:if="${board == null}" class="noPage">
			<p>게시글을 찾을 수 없습니다.</p>
		</div>
		<div th:if="${board != null}">
			<div>
				<span th:text="${board.categoryId}" class="boardCategoryId"></span>
				<h2 th:text="${board.title}" class="boardTitle"></h2>
				<div class="userInfo">
					<img th:src="${board.user.userImg.getUrl()}" class="userImage">
					<div class="userInfoText">
						<span th:text="${board.nickname}" class="boardNickname"></span>
						<span class="boardViewCount">조회수 [[${board.viewCount}]]</span>
					</div>
				</div>
				<div class="createdAt">
					<span th:text="${#temporals.format(board.createdAt, 'yyyy-MM-dd HH:mm:ss')}" class="boardCreatedAt"></span>
					<span><a>공유</a></span>
				</div>
				<hr>
			</div>

			<div class="contentContain">
				<div th:utext="${board.content}" class="boardContent"></div>
			</div><br><br>

			<span th:each="hashtag : ${board.hashtag}">
               <a th:href="@{/board/list(hashtag=${hashtag})}" class="boardHashtag" th:text="${hashtag}"></a>
            </span><br><br><br>

			<div class="buttons" th:if="${master} != null">
				<a th:href="@{/board/update(boardId=${board.boardId})}" class="update">수정</a>
				<a th:href="@{/board/delete(boardId=${board.boardId})}" class="delete" onClick="confirmDelete(event, this)">삭제</a>
			</div><br><br>

			<div class="likeContain">
				<th:block th:if="${user != null}">
					<a href="#" th:if="${#lists.contains(board.likeContain, user.id)}" id="likeCount"
						 class="likeButton" th:data-board-id="${board.boardId}" th:data-id="${user.id}">❤️ [[${board.likeCount}]]</a>
					<a href="#" th:unless="${#lists.contains(board.likeContain, user.id)}" id="likeCount"
						 class="likeButton" th:data-board-id="${board.boardId}" th:data-id="${user.id}">🤍 [[${board.likeCount}]]</a>
				</th:block>
				<!-- 비회원인 경우 좋아요 수만 표시 -->
				<th:block th:if="${user == null}">
					<span id="likeCount" class="likeButton">🤍 [[${board.likeCount}]]</span>
				</th:block>

				<!-- 댓글 아이콘 및 개수 - 모든 사용자에게 표시 -->
				<a href="#" id="commentButton" class="commentButton">🗨️</a>
				<span th:text="${board.commentCount}" class="boardCommentCount"></span>
			</div>

			<hr>

			<h3 class="comments">댓글</h3>

			<div class="commentWrite">
				<img th:src="${user != null ? user.userImg.getUrl() : '/images/ui/my-page-user-basic.jpg'}" class="commentWriteUserImage">
				<form action="/board/commentCreate" method="post">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
					<input type="hidden" name="boardId" th:value="${board.boardId}">
					<div class="commentBox" id="commentBox">
						<textarea id="content" name="content" rows="3" class="commentWriteContent" placeholder="댓글을 입력해주세요" required></textarea>
						<button type="submit" class="commentWriteButton">✔️</button>
					</div>
				</form>
			</div>

			<div class="commentList" th:each="comment : ${comment}">
				<img th:src="${user != null ? comment.user.userImg.url : '/images/ui/my-page-user-basic.jpg'}" class="commentUserImage">
				<div class="comment">
					<div class="commentNicknameCreatedAt">
						<p class="commentNickname" th:text="${comment.nickname}"></p>
						<p class="commentCreatedAt" th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></p>
					</div>

					<p class="commentContent" th:text="${comment.content}" th:id="'commentContent_' + ${comment.commentId}"></p>
					<div class="commentSaveBox">
						<textarea class="commentEditTextarea" th:id="'editTextarea_' + ${comment.commentId}" style="display: none;"></textarea>
						<a href="#" class="commentSave" th:data-comment-id="${comment.commentId}" style="display: none;">✔️</a>
					</div>

					<div class="commentButtons">
                     <span class="commentUpdateDelete" th:if="${comment.user.id} == ${user.id}">
                        <a href="#" class="commentUpdate" th:data-comment-id="${comment.commentId}">수정</a>
                        <a th:href="@{/board/commentDelete(commentId=${comment.commentId}, boardId=${board.boardId})}" class="commentDelete"
													 onClick="confirmDelete(event, this)">삭제</a>
                     </span>

						<a href="#" th:if="${#lists.contains(comment.likeContain, user.id)}" class="commentLikeCount"
							 th:data-comment-id="${comment.commentId}" th:data-id="${user.id}">❤️ [[${comment.likeCount}]]</a>
						<a href="#" th:unless="${#lists.contains(comment.likeContain, user.id)}" class="commentLikeCount"
							 th:data-comment-id="${comment.commentId}" th:data-id="${user.id}">🤍 [[${comment.likeCount}]]</a>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>

<div th:replace="fragment/footer :: footerFragment"></div>

</body>
<script>
	const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
	const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
	function confirmDelete(event, element) {
		event.preventDefault();
		let userConfirm = confirm("정말 삭제하시겠습니까?");
		if (userConfirm) {
			window.location.href = element.href;
		}
	}

	document.addEventListener("DOMContentLoaded", ()=>{
		document.querySelectorAll(".commentUpdate").forEach(button => {
			button.addEventListener("click", (e)=>{
				e.preventDefault();

				const commentId = button.dataset.commentId;
				const contentElement = document.getElementById("commentContent_" + commentId);
				const textareaElement = document.getElementById("editTextarea_" + commentId);
				const saveButton = document.querySelector(".commentSave[data-comment-id='" + commentId + "']");

				textareaElement.value = contentElement.innerText;
				contentElement.style.display = "none";
				textareaElement.style.display = "block";
				saveButton.style.display = "inline-block";
				button.style.color = "white";
			})
		});

		document.querySelectorAll(".commentSave").forEach(button => {
			button.addEventListener("click", (e)=>{
				e.preventDefault();
				const commentId = button.dataset.commentId;
				const textareaElement = document.getElementById("editTextarea_" + commentId);
				const updatedContent = textareaElement.value;

				fetch(`/board/commentUpdate`, {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
						[csrfHeader] : csrfToken
					},
					body: JSON.stringify({
						commentId: commentId,
						content: updatedContent
					})
				}).then(response => response.json())
				.then(data => {
					if (data.data.success) {
						document.getElementById("commentContent_" + commentId).innerText = updatedContent;
						document.getElementById("commentContent_" + commentId).style.display = "block";
						textareaElement.style.display = "none";
						button.style.display = "none";
						document.querySelector(".commentUpdate[data-comment-id='" + commentId + "']").style.color = "black";
					} else {
						alert("댓글 수정에 실패했습니다.");
					}
				}).catch(error => console.error("Error:", error));
			});
		});
	})

	const commentBtn = document.getElementById("commentButton")
	commentBtn.addEventListener("click", (e)=>{
		e.preventDefault();
		document.querySelector(".likeContain").scrollIntoView({
			behavior: "smooth",
			block: "start"
		});
	})

	document.addEventListener("DOMContentLoaded", (e) => {
		const likesBtn = document.getElementById("likeCount");
		const boardId = likesBtn.dataset.boardId;
		const userId = likesBtn.dataset.id;

		likesBtn.addEventListener("click", async (e) => {
			e.preventDefault();

			const data = {
				boardId: boardId,
				userId: userId
			};

			const response = await fetch(`/board/like`, {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
					[csrfHeader]: csrfToken // CSRF 토큰 추가
				},
				body: JSON.stringify(data)
			});

			// 응답이 리디렉션인 경우
			if (response.redirected) {
				window.location.href = response.url; // 로그인 페이지로 리디렉션
				return; // 이후 코드를 실행하지 않도록 종료
			}

			// JSON 응답 처리
			const result = await response.json();

			// 좋아요 상태에 따라 버튼 텍스트 변경
			if (result.data.contain === "contained") {
				likesBtn.textContent = `❤️ ${result.data.likeCount}`;
			} else {
				likesBtn.textContent = `🤍 ${result.data.likeCount}`;
			}
		});
	});

</script>
</html>