<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/css/layout/common.css">
  <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<div th:fragment="navFragment">
  <div class="scrolling-tab">
    <section class="page-tab-area">
      <ul>
        <li class="active"><a href="/">홈</a></li>
        <li><a>시사상식</a></li>
        <li><a>전체글</a></li>
        <li><a>BEST</a></li>
        <li><a href="/board/board">게시판</a></li>


      </ul>
      <div>
        <button class="write_btn" id="newPostBtn" onclick="window.location.href='/board/write'">글쓰기</button>
      </div>
    </section>
  </div>
</div>
<div th:fragment="navFragment2">
  <div class="scrolling-tab">
    <section class="page-tab-area">
      <ul>
        <li><a>스토어 홈</a></li>
        <li><a>전체 제품</a></li>
        <li><a>베스트</a></li>
        <li><a>NEW</a></li>
        <li><a>리뷰 후기</a></li>
      </ul>
    </section>
  </div>
</div>

</body>
</html>