<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/css/layout/common.css">
  <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<div th:fragment="navFragment">
  <div class="scrolling-tab">
    <section class="page-tab-area">
      <ul>
        <li><a href="/">홈</a></li>
        <li><a href="/board/wiki">시사상식</a></li>
        <li><a href="/board/main">전체글</a></li>
        <li><a href="/board/best">BEST</a></li>


      </ul>
      <div>
        <button class="write_btn" id="newPostBtn" onclick="window.location.href='/board/write'">글쓰기</button>
      </div>
    </section>
  </div>
</div>
<div th:fragment="navFragment2">
  <div class="scrolling-tab">
    <section class="page-tab-area">
      <ul>
        <li>
          <a th:href="@{/products(sort='storeHome')}" 
             th:classappend="${sort}=='storeHome' ? 'active'">스토어홈</a>
        </li>
        <li>
          <a th:href="@{/products(sort='all')}"
             th:classappend="${sort}=='all' ? 'active'">전체제품</a>
        </li>
        <li>
          <a th:href="@{/products(sort='rating')}"
             th:classappend="${sort}=='rating' ? 'active'">베스트</a>
        </li>
        <li>
          <a th:href="@{/products(sort='newest')}"
             th:classappend="${sort}=='newest' ? 'active'">NEW</a>
        </li>
      </ul>
    </section>
  </div>
</div>

</body>
</html>