<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<div th:fragment="navFragment2">
  <div id="scrolling-tab">
    <section class="page-tab-area">
      <ul>
        <li><a>스토어 홈</a></li>
        <li><a>전체 제품</a></li>
        <li><a>베스트</a></li>
        <li><a>NEW</a></li>
        <li><a>리뷰 후기</a></li>
      </ul>
    </section>
  </div>
</div>

</body>
</html>