<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
  <link rel="stylesheet" href="/css/login.css"> <!-- CSS 파일 링크 -->
</head>
<body>
  <div class="login-container">
    <div>
      <h1>로그인</h1>
    </div>

    <form action="/login/process" method="post" id="loginForm">
      <div>
        <label for="username">아이디:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div>
        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div>
        <span class="error"></span>
      </div>
      <button type="submit" class="loginBtn">로그인</button>
    </form>

    <div class="footer-links" style="text-align: center; margin-top: 20px;">
      <a href="/register">회원가입</a> |
      <a href="/find/id">아이디 찾기</a> |
      <a href="/find/password">비밀번호 찾기</a>
    </div>
    <div class="social-login">
      <h3>소셜 로그인</h3>
      <a href="/oauth2/authorization/google" class="btn btn-google">Google 로그인</a>
      <a href="/oauth2/authorization/naver" class="btn btn-naver">Naver 로그인</a>
    </div>
  </div>
  <script src="/js/login.js"></script>


</body>
</html>