<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<div th:replace="fragment/header :: headerFragment"></div>
<div class="login-wrap">
  <div class="pm-section">
  <div class="login-container">
    <h1>로그인</h1>
    <form action="/login/process" method="post" id="loginForm">
      <input class="login-input" type="text" id="username" name="username" placeholder="이메일 아이디" required>
      <input class="login-input" type="password" id="password" name="password" placeholder="비밀번호" required>
      <span class="error"></span>
      <div class="remember-wrap">
        <input type="checkbox" name="remember-me" class="remember">
        <span class="remember-span">로그인 유지</span>
      </div>
      <button type="submit" class="main-Btn">로그인</button>
    </form>

    <div class="login-footer">
      <div class="footer-links">
        <a href="/users/find/id">아이디 찾기</a>
        <a href="/users/find/pass">비밀번호 찾기</a>
        <a href="/users">회원가입</a>
      </div>
    </div>

    <div class="social-login">
      <div class="social-login-title">
        <span>SNS 간편 로그인/회원가입</span>
      </div>
      <div class="social-login-buttons">
        <a href="/oauth2/authorization/kakao">
          <img src="/images/kakao-login.png" alt="카카오 로그인">
        </a>
        <a href="/oauth2/authorization/naver">
          <img src="/images/naver-login.png" alt="네이버 로그인">
        </a>
        <a href="/oauth2/authorization/google">
          <img src="/images/google-login.png" alt="애플 로그인">
        </a>
      </div>
    </div>

    <div class="promotion-banner">
      <div class="promotion-text">
        <p>지금 가입하면</p>
        <p>5,000원 쿠폰 증정!</p>
        <p>에이콘 스토어</p>
      </div>

    </div>
  </div>
  </div>
</div>
<div th:replace="fragment/footer :: footerFragment"></div>


<script src="/js/user/login.js"></script>
</body>
</html>