<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>회원 정보 수정</title>
  <link rel="stylesheet" href="/css/profile.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<div th:replace="headerFragment/header :: headerFragment"></div>
<div class="container">
  <div class="nav-bar"></div>
  <section class="pm-section">
    <div th:replace="headerFragment/mypage-common :: mypage-top"></div>
    <div class="mypage-bottom-content">
      <div th:replace="headerFragment/mypage-common :: mypage-sidebar"></div>
      <div th:replace="headerFragment/mypage-common :: mypage-userInfo"></div>
    </div>
  </section>
</div>
<div th:replace="headerFragment/mypage-common :: modal"></div>
<script src="/js/address.js"></script>
<script src="/js/profile.js"></script>

</body>
</html>

