<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>회원 정보 수정</title>
  <link rel="stylesheet" href="/css/profile.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/common.css">
  <!-- 페이지별 추가 CSS -->
</head>
<body>
<div th:replace="headerFragment/header :: headerFragment"></div>
<div class="container">
  <div class="nav-bar"></div>
  <section class="pm-section">
    <!-- 공통 상단 영역 -->

    <!--/*@thymesVar id="userInfo" type=""*/-->
    <div th:text="${userInfo}"></div>

    <div th:replace="headerFragment/mypage-common :: mypage-top"></div>

    <div class="mypage-bottom-content">
      <!-- 공통 사이드바 -->
      <div th:replace="headerFragment/mypage-common :: mypage-sidebar"></div>

      <div th:replace="headerFragment/mypage-common :: mypage-mainInfo"></div>

    </div>
  </section>
</div>

<!-- 공통 모달 -->
<div th:replace="headerFragment/mypage-common :: modal"></div>

<!-- 공통 스크립트 -->
<script src="/js/profile.js"></script>
<!-- 페이지별 추가 스크립트 -->
<script src="/js/address.js"></script>
</body>
</html>