<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>회원 정보 수정</title>
  <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
<div class="container">
  <h1>회원 정보 수정</h1>
  <div>
    <div class="profile-img">사진</div>
    <p class="profile-user"></p>
  </div>
  <form id="profileUpdateForm">
    <div class="form-group">
      <label for="nickname">회원 닉네임</label>
      <input type="text" id="nickname" name="nickname">
      <p class="error-message" id="nickname-error"></p>
    </div>
    <div class="form-group">
      <label for="email">회원 이메일</label>
      <input type="email" id="email" name="email">
      <p class="error-message" id="email-error"></p>
    </div>
    <div class="form-group">
      <label for="address">회원 주소</label>
      <div class="address">
        <input type="text" id="address" name="address" readonly>
        <button type="button" class="inline-button" onclick="addrFind(event)">주소 찾기</button>
      </div>
    </div>
    <div class="button-group">
      <button type="submit" class="save-btn" disabled>적용</button>
      <button type="button" class="cancel-btn" onclick="window.history.back()">취소</button>
    </div>
    <div class="button-group">
      <button type="button" class="changePassBtn">비밀번호 변경</button>
      <button type="button" class="removeBtn">회원 탈퇴</button>
    </div>
  </form>

</div>
<script src="/js/address.js"></script>
<script type="module" src="/js/profileUpdate.js"></script>
</body>
</html>
