.agree-content {
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center; /* 수정: justify-items -> justify-content */
    align-items: center;
    flex-direction: column;

}

.agree-content .description h1 {
    color: #333;
    text-align: center;
    margin-bottom: 40px;
}

.agree-content .description p {
    font-size: 18px;
    text-align: center;
}

.agree-content section {
    width: 100%;
}



h2 {
    color: #555;
    cursor: pointer;
    margin-top: 20px;
}

.content {
    display: none;
    margin-top: 10px;
    padding-left: 20px;
    border-left: 2px solid #28a745;
    width: 100%; /* 추가: content의 너비를 100%로 설정 */
    box-sizing: border-box
}

.content.show {
    display: block;
}

p {
    line-height: 1.6;
    margin: 10px 0;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

.checkbox-container {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

