.agree-content {
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center; /* 수정: justify-items -> justify-content */
    align-items: center;
    flex-direction: column;

}

.agree-content .description h1 {
    color: #333;
    text-align: center;
    margin-bottom: 40px;

}

.agree-content .description > p {
    font-size: 18px;
    text-align: center;
    font-weight: 700
}

.agree-content section {
    width: 100%;
}

.agree-content .agree-sections {
    margin-top: 40px;
    margin-bottom: 40px;

}
.agree-content .agree-sections .toggle .select {
    font-size: 18px;
    color: black;
}
.agree-content .agree-sections .toggle span:not(.select){
    font-size: 18px;
    color: red;
}


.agree-content .agree-sections .toggle{
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.agree-content .agree-sections .content{
    width:400px;
    max-height: 150px;
    overflow-y: auto;

    padding: 10px;
    margin: 0 auto;
    border: 1px solid #e9e9e9;
    border-radius: 20px;
}

.content .article-text {
    color: #767678;
}

.agree-content .agree-sections .content > p{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}

.agree-content .agree-sections .content ul li{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}

.agree-form {
    margin: 20px 0 20px;
}

.agree-form .checkbox-container {
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 16px;
}
.agree-form .checkbox-container .agree-btn {
    margin-right: 10px;
}

.agree-form .checkbox-container .agree-btn {
    position: relative; /* 위치 조정을 위해 상대 위치 설정 */
    margin-right: 10px;
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
}

.agree-form .checkbox-container .agree-btn input {
    display: none; /* 기본 체크박스 숨김 */
}

.agree-form .checkbox-container .custom-checkbox {
    width: 40px; /* 체크박스 이미지 너비 */
    height: 40px; /* 체크박스 이미지 높이 */
    background-image: url('../images/ui/agree-unchecked.png'); /* 체크박스 기본 이미지 */
    background-size: cover; /* 이미지 크기 조정 */
    display: inline-block; /* 인라인 블록으로 표시 */
    overflow: hidden;
}

.agree-form .checkbox-container {
    margin-bottom: 30px;
}

.agree-form .checkbox-container input:checked + .custom-checkbox {

    background-image: url('../images/ui/agree-checked.png'); /* 체크된 상태 이미지 */
}

.agree-form #consentForm button {
    width: 100%;
    padding: 20px;
    font-size: 18px;
    background-color: #68a5fe;
    color: white;
    border-radius: 15px;
}


