

.inner-120{
}

.pm-section section{
  position: relative;
  margin-bottom: 100px;
}

.pm-section .inner-120 h2{
  margin: 70px 0 26px;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
}
.pm-section .inner-120{
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
}

.slide-container {


}
.post-slider{
  margin: 40px 0  30px;
}

.post-slider .post-wrapper{
  width:100%;
  margin:0 auto;
}
.post-slider .post-wrapper .post{
  width:300px;
  height:130px;
  display:inline-block;
  border-radius: 20px;
  overflow: hidden;
  background: linear-gradient(to bottom, #ffffff, #f1f1f1);

}

.post-slider .post-wrapper .post img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.post-wrapper .slick-dots{
  position: absolute !important;
  bottom: 0;
}
.post-wrapper .slick-dots li button:before{
  font-size: 10px !important;
}

/* 인기 급상승 */

.container .more{
  position: absolute;
  right: 0;
  top: 6px;
  height: auto;
  margin: 0;
  padding-right: 28px;
  color: #343434;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  background-color: transparent;
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("../images/ui/arrow-right.png");

}
.filter{
  display: flex;
  margin-top: -6px;
  margin-bottom: 16px;
}

.filter button.active{
  color: #68a5fe;
  border-color: currentColor;
  background-color: #f0f5fd;
}
.filter button {
  height: 40px;
  margin-right: 9px;
  padding : 8px 12px;
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
  border-radius: 40px;
  border: 1px solid #ccc;
}

.popular{
  position: relative;
}

.popular_slick {
   display: flex;

}
.popular_slick a + a{
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid #e9e9e9;
}
.popular_slick a{
  position: relative;
  display: flex;
  width: 335px;
}

.popular_slick a .num{
  width: 24px;
  color: #68a5fe;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
}

.popular_slick a .inner{

}

.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.popular_slick a strong{
  display: block;
  margin-bottom: 11px;
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
}

.popular_slick .like {
  color: #6c6c6c;
  font-size: 13px;
}
.like{
  display: flex;
}
.like span {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.popular_slick > div + div{
  margin-left: 83px;
}

.product_list {
  display: flex;
  flex-wrap: wrap;
}
.product_list li {
  position: relative;
  width: 280px;
  margin-right: 17px;
}
.product_list li .img {
  width: 280px;
  margin-bottom: 24px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;

}

.product_list li .img img{
  width: 280px;
  height: 280px;
  object-fit: cover;
}

.product_list li .img span {
  display: inline-block;
  position: absolute;
  right: auto;
  bottom: 14px;
  left: 14px;
  padding : 5px 7px;
  color: #fff;
  font-weight: 600;
  line-height: 130%;
  border-radius: 4px;
  background-color: #68A5FE;
}

.product_list li .pro_name p{
  font-size: 20px;
  font-weight: 600;
}

.pro_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pro_name .rate {
  margin-right: 10px;
  padding-left: 20px;
  font-weight: 600;
  font-size: 13px;
  line-height: 35px;
  background: url("../images/ui/product-average.png") no-repeat left center;
  background-size: 15px;
}

.pro_name p {
  width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.common_sense .exposure_tag li {
  border-bottom: 1px solid #d9d9d9;
}

.common_sense .wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 89px;
}
.common_sense .wrap > img{
  position: relative;
  width: 89px;
  height: 89px;
  margin-bottom: -34px;
  margin-left: 30px;
  object-fit: cover;
  border-radius: 8px;

}
.common_sense > ul li .tit{
  font-size: 20px;

}
.common_sense .inner > .tit{
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 130%;
  margin: 10px 0;
  font-weight: 600;
}
.common_sense > ul li a p {
  margin-top: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 130%;
}
.common_sense .inner {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.common_sense .exposure_tag > ul li a{
  display: block;
  width: 100%;
  padding: 34px 0 24px;
}

.common_sense > ul li a{
  color: #494949;
  position: relative;
  display: block;
  width: 100%;
  padding: 40px 0 40px;
}

.common_sense ul {
  display: block;
  margin-top: -4px;
}

.common_sense .exposure_tag ul li a .bottom {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


