.sign-wrap{
    width: auto;

}

.field h5{
    width: 129px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
}

.user_details_section .field{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.result {
    font-weight: 500;
    font-size: 18px;
}

.user_agreement_section{
    margin-top: 60px ;
}


/*mypage-activities*/
.border_none{

}

.consult__tab{
    margin-bottom: 30px;
}
.consult__tab ul {
    margin-top: 30px;
}

.consult__tab .tab{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 2px solid #e3e3e3;
}
.consult__tab .tab li {
    width: auto;
}

.consult__tab ul li {
    position: relative;
    width: 180px;
    text-align: center;
}

.consult__tab .tab li a{
 padding: 0 27px;

}
.consult__tab a.active{
    color: #343435;
    font-weight: 600;
}
.consult__tab a.active::after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #68a5fe;
}

.consult__tab a {
    display: flex;
    justify-content: center;
    color: #8F8F8F;
    height: 39px;
    font-size: 18px;
    line-height: 130%;
}

.activities_content{

}

.activities_content > ul{
    flex-flow: column;
    margin-bottom: 40px;

}
.myboard_empty{
    margin-top: 210px;
    text-align: center;
}
.myboard_empty p{
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 140%;
}

.myboard_empty .btn_line{
    height: 44px;
    padding: 10px 18px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.btn_line{
    display: inline-block;
    border: 1px solid #68A5FE;
    color:#68A5FE;
    border-radius: 60px;
}
