
.register-container {
  width: 450px;
  padding: 20px;
  margin: 0 auto;
}

.register-container h2 {
  text-align: center;
  margin-bottom: 30px;
}

#registerForm input,select {
  width: 100%;
  padding: 13px;
  height: 50px;
  margin-bottom: 15px;
  border: 1px solid #dadada;
  border-radius: 5px;
  font-size: 15px;
}

.input-error{
  border: 1px solid red !important;
}

#registerForm input:focus, select:focus {
  outline: none;
  border-color: #68a5fe;
}

#registerForm .security-question > span{
  color: #767678;
  display: block;
  margin-bottom: 7px;
}

.section-divider {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #dadada;
}

.address-container {
  display: flex;
  justify-items: center;

  gap: 10px;
  margin-bottom: 15px;
}

.address-container input {
  flex: 1;
  margin-bottom: 0;
}
.address-description{
  color: #767678;
  display: block;
  margin-bottom: 7px;
}

.inline-button {
  padding: 10px;
  background-color: #68a5fe;
  color: white;
  border: none;
  top: 0;
  height: 50px; /* 입력란과 동일한 높이 설정 */
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
}

.registerBtn {
  width: 100%;
  padding: 15px;
  background-color: #68a5fe;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.errorList {
  list-style-type: none;
  padding: 0;
  margin: 0 0 15px 0;
  color: #e74c3c;
  font-size: 12px;
}