<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/layout/common.css">
  <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="/slick/slick.min.js"></script>
</head>
<body>
<div th:replace="fragment/header :: headerFragment"></div>
<div th:replace="fragment/nav :: navFragment"></div>
<div class="container">
  <div class="pm-section">
    <section>
      <article class="inner-120">
        <div class="post-slider">
          <div class="post-wrapper">
            <div class="post">
              <img src="/images/banner2.png">
            </div>
            <div class="post">
              <img src="/images/banner3.png">
            </div>
            <div class="post">
              <img src="/images/banner4.png">
            </div>
          </div>
        </div>
      </article>
    </section>
    <section class="popular">
      <article class="inner-120">
        <h2>인기 급상승🔥</h2>
        <div>

        </div>
        <button class="more"></button>
      </article>
    </section>
    <section>
      <article class="inner-120">
        <h2>반려견 상식</h2>
      </article>
    </section>
    <section>
      <article class="inner-120">
        <h2>베스트 상품</h2>
      </article>
    </section>
    <section>
      <article class="inner-120"></article>
    </section>
  </div>
</div>

<div th:replace="fragment/footer :: footerFragment"></div>
<script>

  $('.post-wrapper').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    dots: true,
    autoplay: true,
    arrows: false,
    autoplaySpeed: 2000,
    fade: true
  });

  document.addEventListener("DOMContentLoaded", function () {
    const menuItems = document.querySelectorAll(".page-tab-area ul li a");

    menuItems.forEach(item => {
      item.addEventListener("click", function (event) {


        // 기존 활성화된 요소의 .active 제거
        document.querySelectorAll(".page-tab-area ul li").forEach(li => {
          li.classList.remove("active");
        });

        // 클릭한 요소의 부모인 li에 .active 추가
        this.parentElement.classList.add("active");
      });
    });
  });

</script>

</body>
</html>