<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/layout/common.css">
  <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="/slick/slick.min.js"></script>
</head>
<body>
<div th:replace="fragment/header :: headerFragment"></div>
<div th:replace="fragment/nav :: navFragment" class="nav-var"></div>
<div class="container">
  <div class="pm-section">
    <section>
      <article class="inner-120">
        <div class="post-slider">
          <div class="post-wrapper">
            <div class="post">
              <img src="/images/ui/main-banner2.png">
            </div>
            <div class="post">
              <img src="/images/ui/main-banner3.png">
            </div>
            <div class="post">
              <img src="/images/ui/main-banner4.png">
            </div>
          </div>
        </div>
      </article>
    </section>
    <section class="popular">
      <article class="inner-120">
        <h2>인기 급상승🔥</h2>
        <div class="filter">
          <button class="active" data-type="best">인기글</button>
          <button data-type="trend">최신글</button>
        </div>
        <div class="popular_slick false">


        </div>
        <a class="more" href="/board/main">더보기</a>
      </article>
    </section>
    <section>
      <article class="inner-120">
        <h2>회원들이 많이 리뷰한 제품</h2>
        <div class="scroll">
          <ul class="product_list">

          </ul>
        </div>

        <a class="more" href="/products">더보기</a>
      </article>
    </section>
    <section>
      <article class="inner-120">
        <h2>시사 상식</h2>
        <div class="common_sense">
          <ul>
            <li>
              <a>
                <div class="wrap">
                  <div class="inner">
                    <span>시사 상식</span>
                    <div class="tit">반려견의 심장병 초기증상 5가지! , 보호자가 알아야 할 시그널</div>
                    <p>강아지에게도 사람처럼 심장병이 발병할 수 있다는 사실, 알고 계셨나요? 심장병은 보호자들에게 큰 충격과 슬픔을 안길 수 있는 질환입니다. 특히 강아지 심장병은 초기 증상이 뚜렷하지 않아 조기 발견이 어렵고, 증상이 심각해지면 강아지의 생명에 큰 위협이 될 수 있습니다. 이 때문에 강아지의 행동과 건강 상태를 면밀히 관찰하는 것이 무엇보다 중요합니다.</p>
                  </div>
                  <img src="/images/ui/sense-dog1.jpeg">
                </div>
                <div class="bottom">
                  <div class="date"></div>
                </div>
              </a>
            </li>
            <li>
              <a>
                <div class="wrap">
                  <div class="inner">
                    <span>시사 상식</span>
                    <div class="tit">반려견의 소화불량 이상신호 11가지, 알고 게셨나요?</div>
                    <p>강아지를 키우는 과정에서 어렵지 않게 접할수 있는 상황이며 이러한 문제에 대해서 보호자의 관심 및 사랑이 없다면 증상의 원인 및 조기발견 및 치료의 시기를 늦칠수 있습니다. 대부분 강아지의 행동에 있어 어떠한 변화가 감지가 된다면 자세한 분석이 필요합니다.

                      강아지의 소화 불량에 있어 나타나는 증상은 그렇게 어렵지 않습니다. 견종에 따라 소화기관이 약하거나 문제가 있을수 있지만, 이후 더 큰 문제로 발전하는것을 막아야 합니다. </p>
                  </div>
                  <img src="/images/ui/sense-dog2.jpg">
                </div>
                <div class="bottom">
                  <div class="date"></div>
                </div>
              </a>
            </li>
            <li>
              <a>
                <div class="wrap">
                  <div class="inner">
                    <span>시사 상식</span>
                    <div class="tit">고양이가 깨무는 이유 6가지와 대처 방법</div>
                    <p>집사라면 한 번쯤 고양이에게 갑자기 물려 당황스러운 경우가 있죠. 분명 기분이 좋아 보였는데... 왜 무는 건지 이유를 알기가 힘들 때도 많아요. 이번 글에서는 고양이가 깨무는 이유 총 여섯 가지를 정리해 봤어요. 우리 고양이가 자주 깨물어서 고민이라면 꼭 확인해 주세요! 정확한 이유를 알고 잘 대처해 보도록 해요.</p>
                  </div>
                  <img src="/images/ui/sense-cat1.png">
                </div>
                <div class="bottom">

                </div>
              </a>
            </li>
          </ul>
        </div>
        <a class="more">더보기</a>
      </article>
    </section>
    <section>
      <article class="inner-120"></article>
    </section>
  </div>
</div>

<div th:replace="fragment/footer :: footerFragment"></div>
<script type="module" src="/js/home.js"></script>
<script type="module" src="/js/nav.js"></script>
<script>
  $('.post-wrapper').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    dots: true,
    autoplay: true,
    arrows: false,
    autoplaySpeed: 2000,
    fade: true
  });
</script>
</body>
</html>