<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>펫 등록</title>
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/addpet.css">
</head>
<body>
<div th:replace="fragment/header :: headerFragment"></div>
<div class="container">
  <div class="nav-bar"></div>
  <div class="pm-section">
      <section class="sec1 section-wrap">섹션 1
        <div class="select-wrap">
          <div class="select-content">
              <h1>강아지</h1>
          </div>
          <div class="select-content">
            <h1>고양이</h1>
          </div>
        </div>
      </section>
      <section class="sec2 section-wrap">섹션2

      </section>
      <section class="sec3 section-wrap">섹션3

      </section>
  </div>
</div>
<div th:replace="fragment/footer :: footerFragment"></div>
</body>
</html>