<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>회원 정보 수정</title>
  <link rel="stylesheet" href="/css/profile.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/orderAllList.css">
    <link rel="stylesheet" href="/css/review.css">
</head>
<body>
<div th:replace="headerFragment/header :: headerFragment"></div>
<div class="container">
  <div class="nav-bar"></div>
  <section class="pm-section">
        <div class="mypage-top" th:fragment="mypage-top">
              <div class="user">
                <div class="img">
                  <div class="profile-img"></div>
                </div>
                <strong class="nickname" ></strong>
                <button type="button" class="profile_btn">설정</button>
              </div>
              <div class="mypage_top_content">
                <div class="inner-wrap">
                  <div class="inner">
                    <span>쿠폰</span>
                    <strong>1개</strong>
                  </div>
                  <div class="inner">
                    <span>장바구니 물품</span>
                    <strong th:text="${session.user.cartQuantity}+'개'"></strong>
                  </div>
                  <div class="inner">
                    <span>멤버십</span>
                    <strong>1억포인트</strong>
                  </div>
                </div>

                <div class="inner-rig">
                  <p>
                    쿠폰
                    <strong>0개</strong>
                  </p>
                  <p>
                    적립금
                    <strong>0P</strong>
                  </p>
                </div>
              </div>
          </div>

    <div class="mypage-bottom-content">

              <div class="left" th:fragment="mypage-sidebar">
                <ul class="my-menu">
                  <li>
                    <span>커뮤니티</span>
                    <a href="#">나의 활동</a>
                  </li>
                  <li>
                    <span>나의 쇼핑 정보</span>
                    <a href="/order">주문/배송</a>
                    <a href="#">교환/반품</a>
                    <a href="#">찜한제품</a>
                    <a href="#">제품리뷰</a>
                  </li>
                  <li>
                    <span>나의 반려 동물</span>
                  </li>
                  <li>
                    <span>쿠폰/적립금</span>
                    <a href="#">쿠폰</a>
                    <a href="#">적립금</a>
                  </li>
                  <li>
                    <span>나의 정보</span>
                    <a href="/users/profile/update">회원 정보 관리</a>
                  </li>
                  <li>
                    <span>고객센터</span>
                    <a href="#">고객센터</a>
                    <a href="#">문의내역</a>
                  </li>
                </ul>
              </div>


              <div class="right_info" th:fragment="mypage-mainInfo">
                  <h2>주문 목록</h2>
                  <table>
                      <thead>
                      <tr>
                          <th>주문번호</th>
                          <th>주문자 ID</th>
                          <th>총 가격</th>
                          <th>결제 시간</th>
                          <th>결제 상태</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each="purchase : ${purchase}">
                          <td th:text="${purchase.purchaseId}"></td>
                          <td th:text="${purchase.userId}"></td>
                          <td th:text="${purchase.totalPrice}"></td>
                          <td th:utext="${purchase.cancelAt != null ? '취소 시각: ' + #temporals.format(purchase.cancelAt, 'yyyy-M-d') + '<br>' + #temporals.format(purchase.cancelAt, 'a h시 mm분') : '주문 시각: ' + #temporals.format(purchase.createAt, 'yyyy-M-d') + '<br>' + #temporals.format(purchase.createAt, 'a h시 mm분')}"></td>
                          <td>
                              <span th:text="${purchase.cancelAt != null ? '취소' : '주문'}"></span>
                          </td>
                      </tr>
                      </tbody>
                  </table>

                  <!-- 배송 정보 -->
                  <h2>배송 정보</h2>
                  <table>
                      <thead>
                      <tr>
                          <th>수령인 이름</th>
                          <th>수령인 전화번호</th>
                          <th>배송 상태</th>
                          <th>배송 주소</th>
                          <th>배송 요청 사항</th>
                          <th>배송 정보 수정</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each="delivery : ${delivery}">
                          <td th:text="${delivery.receiverName}"></td>
                          <td th:text="${delivery.receiverPhone}"></td>
                          <td th:text="${delivery.deliveryStatus}"></td>
                          <td th:text="${delivery.receiverAddr}"></td>
                          <td th:text="${delivery.deliveryMessage}"></td>
                          <td>
                              <form action="/order/admin/deiveryChange" method="POST">
                                  <input type="hidden" name="purchaseId" th:value="${delivery.purchase.purchaseId}"/>
                                  <select id="deliveryState" name="deliveryState">
                                      <option value="onDelivery">배송중</option>
                                      <option value="stopDelivery">배송취소</option>
                                      <option value="finDelivery">배송완료</option>
                                  </select>
                                  <button type="submit">변경</button>
                              </form>
                          </td>
                      </tr>
                      </tbody>
                  </table>

                  <!-- 구매 상품 -->
                  <h2>구매 상품</h2>
                  <table>
                      <thead>
                      <tr>
                          <th>상품명</th>
                          <th>옵션</th>
                          <th>수량</th>
                          <th>가격</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each="item : ${item}">
                          <td th:text="${item.productName}"></td>
                          <td th:text="${item.option == null ? '없음': item.option}"></td>
                          <td th:text="${item.quantity}"></td>
                          <td th:text="${item.totalPrice}"></td>
                      </tr>
                      </tbody>
                  </table>
</div>
            <div id="nicknameModal" class="modal" th:fragment="modal">
              <div class="modal-content">
                <span class="close">&times;</span>
                <h2>닉네임 변경</h2>
                <input type="text" id="newNickname" placeholder="새 닉네임 입력">
                <button id="saveNickname">저장</button>
              </div>
            </div>

<script src="/js/address.js"></script>
<script src="/js/profile.js"></script>
</body>
</html>